
/*--------------------------------ここからreset.css----------------------------------------------------------*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
p,.nav{
    margin:0;
}
/*-----------------------------------ここまでreset.css------------------------------------------------------------*/


a{
    text-decoration:none;
    color:#111;
}
li{
    list-style:none;
}
.container{
    max-width:960px;
    margin:0 auto;
    padding: 10px 4%;
}
.header-flex-box{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.header__title img{
    width: 120px;
}
.flex-box{
    display: flex;
}
.flex-box__list{
    margin-left: 30px;
}
.hero{
    width: 100%;
    max-width:1920px;
    height:600px;
    object-fit:cover;
}
.container{
    max-width:960px;
    margin:0 auto;
}
.section{
    text-align: center;
}
.section__title{
    font-size: 35px;
    border-bottom:1px solid #111;
    display: inline-block;
    margin:100px auto 60px;
    padding-bottom: 8px;
}
.section__content{
    text-align:initial;
}
.section__name{
    text-align:initial;
    font-weight: bold;
    margin-top: 15px;
}
.section__image{
    width: 100px;
    height: 100px;
    border-radius:50px;
    display: block;
    margin:0 auto;
}
.section__image1{
    width: 100%;
}
.section__lists{
    margin-top: 17px;
}
.section__midashi{
    font-weight: bold;
    margin: 10px 0 20px;
}
.section__list{
    text-align: initial;
    line-height:1.4em;
    margin-bottom: 5px;
}
footer{
    padding: 20px 0;
    margin-top: 130px;
    text-align: center;
    font-size: 10px;
}

@media screen and (min-width:768px) { 
    .flex-box1{
        display: flex;
        justify-content:center;
    }
    .section__image{
        margin: 0;
        margin-right: 30px;
    }
    .flex-box2{
        display: flex;
        justify-content:space-between;
    }
    .section__content{
        text-align: center;
    }
    .section__image1{
        width: 95%;
    }
}